In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from sklearn.cluster import KMeans

In [6]:
data = pd.read_csv('../data/bandung/jams agg bandung.csv')
data = data.iloc[:,1:-1]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17982 entries, 0 to 17981
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              17982 non-null  object
 1   street            17982 non-null  object
 2   level             17982 non-null  int64
 3   median_length     17982 non-null  float64
 4   median_delay      17982 non-null  float64
 5   median_speed_kmh  17982 non-null  float64
 6   median_record     17982 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 983.5+ KB

In [7]:
data

,date,street,level,median_length,median_delay,median_speed_kmh,median_record
0,2022-07-06,Abdul Rahman Saleh,2,838.0,85.50,16.715000,15.0
1,2022-07-06,Akses Tol Pasteur,3,374.0,172.50,4.520000,15.0
2,2022-07-06,Alkateri,2,317.0,63.50,8.830000,7.0
3,2022-07-06,Anggrek,3,341.0,111.00,6.735000,10.0
4,2022-07-06,Antapani,1,717.0,83.25,11.069999,6.5
...,...,...,...,...,...,...,...
17977,2022-09-06,Leuwipanjang,5,22.0,-1.00,0.000000,60.0
17978,2022-09-06,N11 Flyover Kopo-Cibaduyut,5,1194.0,-1.00,0.000000,120.0
17979,2022-09-06,Prof Dr Ir Sutami,3,571.0,124.50,11.340000,10.0
17980,2022-09-06,Prof Mochtar Kusumaatmadja,2,1510.0,77.00,34.590000,6.0
17981,2022-09-06,Sukajadi,3,516.0,144.00,12.750000,5.0

In [11]:
x = data.loc[:,'median_length':]
X = pd.concat([data.date,x],axis=1)
X

,date,median_length,median_delay,median_speed_kmh,median_record
0,2022-07-06,838.0,85.50,16.715000,15.0
1,2022-07-06,374.0,172.50,4.520000,15.0
2,2022-07-06,317.0,63.50,8.830000,7.0
3,2022-07-06,341.0,111.00,6.735000,10.0
4,2022-07-06,717.0,83.25,11.069999,6.5
...,...,...,...,...,...
17977,2022-09-06,22.0,-1.00,0.000000,60.0
17978,2022-09-06,1194.0,-1.00,0.000000,120.0
17979,2022-09-06,571.0,124.50,11.340000,10.0
17980,2022-09-06,1510.0,77.00,34.590000,6.0
17981,2022-09-06,516.0,144.00,12.750000,5.0